*.egg-info
*.hex
*.pyc
.ropeproject
*/Arduino/*/Config.h
setup.py
paver-minilib.zip
docs/build
dist/*
build/*
*/*_pb2.py
lib/TeensyMinimalRpc/library.properties
lib/TeensyMinimalRpc/src/TeensyMinimalRpc.h
lib/TeensyMinimalRpc/src/TeensyMinimalRpc/*_pb.*
lib/TeensyMinimalRpc/src/TeensyMinimalRpc/Properties.h
lib/TeensyMinimalRpc/src/TeensyMinimalRpc/Commands.h
lib/TeensyMinimalRpc/src/TeensyMinimalRpc/CommandProcessor.h
*/Arduino/*/*config_validate.h
*/Arduino/*/*state_validate.h
*/Arduino/*/*RPCBuffer.h
*/Arduino/*/NodeCommandProcessor.h
*.o
*/protobuf/nano
*/protobuf/py
*/protobuf/*.proto
.sconsign.dblite
arduino_rpc/protobuf_commands.py
.ipynb_checkpoints
*/node.py
*/config.py
*/state.py
*~
*.swp
.project
.pydevproject
teensy_minimal_rpc/ADC.py
teensy_minimal_rpc/DMA.py
teensy_minimal_rpc/PIT.py
teensy_minimal_rpc/SIM.py
*.exe
.idea
