include COPYING
include README.md
include RELEASE-VERSION
include version.py
include pavement.py
include paver-minilib.zip
include setup.py
include SConstruct
recursive-include teensy_minimal_rpc *
recursive-exclude teensy_minimal_rpc *.pyc
recursive-exclude teensy_minimal_rpc *.o
